#spImagesDirectory =  ./images/
spImagesDirectory =  C:/dev/cproject/final/images/
spImagesPrefix=img
 spImagesSuffix = .png
 spNumOfImages = 17 
 spPCADimension = 20 
 spPCAFilename = pca.yml 
 spNumOfFeatures = 100            
 spExtractionMode = true 
 spNumOfSimilarImages = 5 
 spLoggerFilename = C:/dev/cproject/final/images/log.log
 spKDTreeSplitMethod = RANDOM
 spKNN = 2
 spMinimalGUI=true
 spLoggerLevel=2
