spImagesDirectory =               C:/dev/cproject/final/images/
spImagesPrefix=img
 spImagesSuffix = .png
 spNumOfImages = 17 
 spPCADimension = 20 
 spPCAFilename = pca.yml 
 spNumOfFeatures = 100            
 spExtractionMode = True 
 spNumOfSimilarImages = 5 
 spLoggerFilename = stdout
 spKDTreeSplitMethod = RANDOM
 spKNN = 2
 spMinimalGUI=false
 spLoggerLevel=1
